In [50]:
import numpy as np
import pandas as pd
import seaborn as sns

# Statistiques descriptives
## Bl√©

In [51]:
dates  = pd.date_range(start='2003-01-01', end='2022-12-01', freq="MS")
ble = pd.read_csv("data/ble_hist.csv", usecols=['ble'])
ble = ble.set_index(dates)

ble.describe()

              ble
count  240.000000
mean   185.261458
std     57.654596
min    101.500000
25%    148.875000
50%    180.375000
75%    209.875000
max    400.750000

In [52]:
print(f"Date de la valeur minimale : {ble.idxmin()} \nDate de la valeur maximale : {ble.idxmax()} \nKurtosis = {ble.kurt()} \nSkewness = {ble.skew()}" )

Date de la valeur minimale : ble   2005-04-01
dtype: datetime64[ns]
Date de la valeur maximale : ble   2022-04-01
dtype: datetime64[ns]
Kurtosis = ble    1.598509
dtype: float64
Skewness = ble    1.066535
dtype: float64

### Rendement mensuel

In [53]:
rendement = ble.apply(np.log).diff() # Rendements logarithmiques

rendement.describe()

              ble
count  239.000000
mean     0.004297
std      0.074059
min     -0.243476
25%     -0.030737
50%      0.002016
75%      0.042326
max      0.309422

In [54]:
print(f"Date de la valeur minimale : {rendement.idxmin()} \nDate de la valeur maximale : {rendement.idxmax()} \nKurtosis = {rendement.kurt()} \nSkewness = {rendement.skew()}" )

Date de la valeur minimale : ble   2011-06-01
dtype: datetime64[ns]
Date de la valeur maximale : ble   2010-07-01
dtype: datetime64[ns]
Kurtosis = ble    2.097944
dtype: float64
Skewness = ble    0.085836
dtype: float64

## Nickel

In [69]:
dates  = pd.date_range(start='2006-01-01', end='2022-12-01', freq="MS")

nickel = pd.read_csv("data/nickel_hist.csv", usecols=['nickel'])
nickel = nickel.set_index(dates)

nickel.describe()

             nickel
count    204.000000
mean   18161.436275
std     7636.118444
min     8435.000000
25%    12742.500000
50%    16332.500000
75%    21219.750000
max    49675.000000

In [70]:
print(f"Date de la valeur minimale : {nickel.idxmin()} \nDate de la valeur maximale : {nickel.idxmax()} \nKurtosis = {nickel.kurt()} \nSkewness = {nickel.skew()}" )

Date de la valeur minimale : nickel   2016-05-01
dtype: datetime64[ns]
Date de la valeur maximale : nickel   2007-04-01
dtype: datetime64[ns]
Kurtosis = nickel    2.772187
dtype: float64
Skewness = nickel    1.474141
dtype: float64

### Rendement mensuel

In [71]:
rendement_nickel = nickel.apply(np.log).diff() # Rendements logarithmiques

rendement_nickel.describe()

           nickel
count  203.000000
mean     0.003386
std      0.100387
min     -0.269375
25%     -0.062762
50%      0.003608
75%      0.069855
max      0.279339

In [72]:
print(f"Date de la valeur minimale : {rendement_nickel.idxmin()} \nDate de la valeur maximale : {rendement_nickel.idxmax()} \nKurtosis = {rendement_nickel.kurt()} \nSkewness = {rendement_nickel.skew()}" )

Date de la valeur minimale : nickel   2008-10-01
dtype: datetime64[ns]
Date de la valeur maximale : nickel   2022-03-01
dtype: datetime64[ns]
Kurtosis = nickel    0.168668
dtype: float64
Skewness = nickel   -0.226152
dtype: float64